/Fac/bin
/Fac/obj
/Fac.Android/bin
/Fac.Android/obj
/Fac.iOS/bin
/Fac.iOS/obj
/Fac.MobileAppService/bin
/Fac.MobileAppService/obj
/Fac/.vs
/.vs/Fac/v15
/.vs/TheCase/v15
/Fac.Android/.vs/Fac.Android/v15
/Fac.Android/Assets
